*{
    padding: 0px;
    margin: 0px;
}

main {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: whitesmoke;
    width: 110vh;
    height: 80vh;
    border-radius: 3%;
    display: flex;
    justify-content: space-between;
}

img {
    align-items: right;
    width: 50%;
    height: 100%;
    border-radius: 3% 0% 0% 3%;
}

.text {
    margin: 5%;
}

h1,
h2 {
    align-items: start;
    text-transform: uppercase;
}

h2 {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    letter-spacing: 3px;
    padding: 3px;
}

h1{
    font-size: ;
}
p {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.price {
    display: inline-flex;
    padding: 2%;
}

#atual {
    color: green;
    font-size: 30px;

}

#antigo {
    padding: 10px;
    text-decoration: line-through;
    color: gray;
}

button {
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    margin: 10px;
}